body
  {
    background-color: white;
    margin: 0;
    font-family: 'Jost', sans-serif;
  }

h1
  {
    text-align: center;
    color: #232323;
    background: #57c8d9;
    margin: 0;
    font-weight: normal;
    font-stretch: expanded;
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.square
  {
    background: purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
  }

#container
  {
    max-width: 500px;
    margin: 0 auto; /*best trick for centering the contents on a page!!!!*/
  }

#correctionMessage
  {
    display: inline-block;
    width: 25%;
    color: white;
  }

.belowTitle
  {
    text-align: center;
    background-color: #232323;
    height: 30px;
    color: #232323;
  }

.selected
  {
    background: #232323;
  }

#easy
  {
    font-family: 'Jost', sans-serif;
  }

#hard
  {
    font-family: 'Jost', sans-serif;
  }

.colordisplay
  {
    font-size: 200%;
  }
.square
  {
    border-radius: 35px 35px 35px 35px;
  }

button
  {
    border: none;
    background: none; /*very nice way to remove a button's background.*/
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    letter-spacing: 1px;
    color: #57c8d9;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
    outline-color: #232323;
    outline-width: thin;
  }

button:hover
  {
    background: #57c8d9;
    color: #232323;
  }

#container
  {
    padding-top: 10px;
  }
